spring:
  h2:
    console:
      enabled: true

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  datasource:
    url: jdbc:h2:mem:userdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

logging:
  level:
    com.tutorial: debug

jwt:
  secret: c3ByaW5nLWJvb3Qtc2VjdXJpdHktand0LXR1dG9yaWFsLWppd29vbi1zcHJpbmctYm9vdC1zZWN1cml0eS1qd3QtdHV0b3JpYWwtZG93b29uCg==

cloud:
  aws:
    credentials:
      accessKey: ${AKIA6HKUMRU7K4M355AM}      # AWS IAM AccessKey 적기
      secretKey: ${5NWVLPFjlAev409qO2iOPYpQopy2izPnFEABr1Xe}   # AWS IAM SecretKey 적기
    s3:
      bucket: soonhanimage    # ex) marryting-gyunny
    region:
      static: ap-northeast-2
    stack:
      auto: false

